- name: Configure UFW firewall
  hosts: all
  vars_files:
    - ../group_vars/all.yml
  tasks:
    - name: Set default policies
      ufw:
        state: enabled
        policy: deny

    - name: Allow essential ports
      ufw:
        rule: allow
        port: "{{ item }}"
      loop: "{{ allowed_ports }}"
