- name: Install Fail2Ban
  hosts: all
  tasks:
    - name: Install fail2ban
      apt:
        name: fail2ban
        state: present
        update_cache: yes

    - name: Ensure fail2ban is running
      service:
        name: fail2ban
        state: started
        enabled: yes
